@import "font-awesome/font-awesome";

@import "lib/_bootswatch_variables";
@import "lib/_bootstrap";
@import "lib/_bootswatch";
@import "lib/flipclock";
@import "lib/scrolling-nav.css";

$base-font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, Helvetica Neue, Helvetica, sans-serif;

body {
  font-family: $base-font-family;

  section {
    text-align: center;
    padding-top: 75px;
    min-height: 100vh;
  }
}

input:focus {
  outline: none;
}

.content {
  padding: 10px;
  font-size: 18px;
}

.content-large {
  font-size: 24px;
}

.content-xl {
  font-size: 30px;
}

img.ultrasound {
  width: 600px;
  height: 400px;
}

#main {
  #clock {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 730px;

    span.flip-clock-label {
      font-family: $base-font-family;
      font-size: 12px;
    }
  }
}

#baby-shower {
  .gmaps-overlay iframe {
    pointer-events: none;
  }

  iframe {
    width: 700px;
    height: 300px;
    margin-bottom: 30px;
  }

  form {
    text-align: left;
    margin: auto;

    label {
      text-align: right;
      min-width: 150px;
      padding-right: 5px;
    }

    input[type=text] {
      width: 300px;
    }
  }
}

#calvin {
  form {
    width: 80px;
    margin: auto;

    div.form-group {
      text-align: left;
      margin-bottom: 0px;
    }
  }
}

.carousel {
  width: 720px;
  margin: auto;

  .carousel-inner {
    .item {
      img {
        width: 720px;
        height: 480px;
      }

      .carousel-caption {
        font-size: 18px;
      }
    }
  }

  .carousel-control span.fa {
    margin-top: 230px;
  }
}